@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './styles/custom-bootstrap.css';


*, *:before, *:after {
  box-sizing: border-box !important;
}

*, html, body, {
	padding:0 !important;
	margin:0 !important;
	color:red;
}

body {
  /*background-color: #eaeaea;*/
  font-family: sans-serif;
}

.page-header{
	margin:0;
	padding:0 20px;
	background-color: #2b3643;
	width:100%;
	height:50px;
}

.page-logo{
	width:90px;
	height:50px;
	float:left;
}

.nav-logo{
	margin-top: 18px;
}

.top-menu{

}



/**********************************************************************************
														body-wrapper     hover:#3f4f62;
***********************************************************************************/

.body-wrapper{
	margin-top: -1px;
	width:100%;
	background-color:#364150;
	min-height:100vh;
}

.content-wrapper{
	/*float:right;*/
	background-color:#eef1f5;
}


/**********************************************************************************
														sidemenu     hover:#3f4f62;
***********************************************************************************/

.page-sidebar-wrapper{
	
	
}

.page-sidebar-menu{
	list-style-type: none;
	padding:0;
	margin:0;
}

.nav-item{
	text-align: center;
	display:inline-block;
	height:39px;
	width:100%;
	vertical-align: center;
	border-bottom: 1px solid rgba(180,188,200,0.15);
}

.nav-item a{
	padding:15px;
	display:flex;
	text-decoration: none;
	color:#b4bcc8;
	height:100%;
	align-items: center;
}

.nav-item a:hover{
	background-color: #2C3542;
}

.page-sidebar-menu{
	padding-top: 20px;
	margin: 0;
}

.sidebar-search-wrapper{
	height:69px;
	display:inline-block;
	width:100%;
	text-align: center;
}

.sidebar-search{
	box-sizing: border-box !important;
	height:25px;
	margin: 22px 18px;
}

.sidebar-search .input-group{
	height:25px;
	border-bottom: 1px solid #4e5d6f;
}

.search-input{
	background-color:#364150;
	color:#4e5d6f;           /*#b4bcc8; */
	border-width: 0px;
	height:19px;
}

.btn-search{
	height:24px;
	display:flex;
	align-items:center;
}

/*overriding bootstrap*/
.search-input:focus{
	border-color: #66afe9;
	border-radius:0;
	outline: 0;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0),0 0 0px rgba(102,175,233,.6) !important;
	box-shadow: inset 0 0px 0px rgba(0,0,0,0) ,0 0 0px rgba(102,175,233,.6) !important;
}


@media(min-width:768px) {
  .page-sidebar-wrapper {
      z-index: 1;
      position: absolute;
      width: 235px;
      float:left;
  }

  .content-wrapper{
		margin-left:235px;
	}

}


/**********************************************************************************
														statistics
***********************************************************************************/

.dashboard-stat2, .dashboard-stat2 .display {
    margin-bottom: 20px;
}

.dashboard-stat2{
  background: #fff;
  padding: 15px 15px 30px;
}

.dashboard-stat2 .progress-info .progress {
  margin: 0;
  height: 4px;
  clear: both;
  display: block;
}

.dashboard-stat2 .progress-info .status {
    margin-top: 5px;
    font-size: 11px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;
}

.dashboard-stat2 .progress-info .status .status-title {
    float: left;
    display: inline-block;
}

.dashboard-stat2 .progress-info .status .status-number {
    float: right;
    display: inline-block;
}

.dashboard-stat2 .display .number small {
    font-size: 14px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;
}

.dashboard-stat2 .display .number h3 {
    margin: 0 0 2px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
}

.font-green-sharp {
    color: #2ab4c0!important;
}

.dashboard-stat2 .display .number h3>small {
    font-size: 23px;
}

.progress-bar.green-sharp {
    background: #2ab4c0!important;
    color: #FFF!important;
}