@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './styles/custom-bootstrap.css';


*, *:before, *:after {
  box-sizing: border-box !important;
}

*, html, body, {
	padding:0 !important;
	margin:0 !important;
	color:red;
}

body {
  background-color: #eaeaea;
  font-family: sans-serif;
}

.page-header{
	margin:0;
	padding:0 20px;
	background-color: #2b3643;
	width:100%;
	height:50px;
}

.page-logo{
	width:90px;
	height:50px;
	float:left;
}

.nav-logo{
	margin-top: 18px;
}

.top-menu{

}